/* $primary: #4f94cd; $secondary: #a9a9a9; $light: #e8e8e8; $dark: #363636; */

/*  全局样式  */
* {
	touch-action: auto !important;
}
body {
	position: relative;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	padding-top: 6rem;
	color: #1c1c1c;
	background-color: #e8e8e8;
}

/* 折叠组件 */
.navbar-toggler {
	color: #a9a9a9;
}
.navbar-toggler.active {
	color: #363636;
}
.navbar-toggler:focus,
.navbar-toggler:active:focus,
.navbar-toggler:active.focus,
.navbar-toggler.active:focus,
.navbar-toggler.active.focus,
.navbar-toggler.focus {
	box-shadow: none;
	outline: none;
}
/* 按钮 */
.btn {
	width: 100%;
	color: #4f94cd;
	border-color: #4f94cd;
	border-radius: .3rem;
}
.btn.active {
	color: white;
	background-color: #4f94cd;
	border-color: #4f94cd;
}
.btn:focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus,
.btn.focus {
	box-shadow: none;
	outline: none;
}
/* 输入框 */
.form-control {
	height: 2.4rem;
	font-size: 1rem;
	line-height: normal;
}
.form-control:focus,
.form-control:active:focus,
.form-control:active.focus,
.form-control.active,
.form-control.active:focus,
.form-control.active.focus,
.form-control.focus {
	border-color: #4f94cd;
	box-shadow: none;
	outline: none;
}

/*  局部样式  */

/* 顶部导航栏 */
#all-header {
	height: 3rem;
	color: white;
	background-color: #4f94cd;
}
.header-up {
	top: -2.5rem;
}
#all-header .nav-link {
	height: 1.5rem;
	padding-top: .3rem;
	font-size: .9rem;
	line-height: 1;
	color: #a9a9a9;
}
#all-header .active {
	color: white;
	border-bottom: .1rem solid white; 
	background-color: transparent;
}

/* 工具栏 */
.toolbar {
	position: fixed;
	top: 3rem;
	right: 0;
	left: 0;
	z-index: 9;
	background-color: white;
}
.toolbar-up {
	top: .5rem;
}
/* 搜索框 */
.toolbar form {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100% - 8rem);
	margin: 0;
	padding: 0;
}
.toolbar form .form-control {
	position: absolute;
	top: .2375rem;
	right: 1rem;
	width: 100%;
	transition: width .2s linear;
}
.toolbar form .navbar-toggler {
	position: absolute;
	top: .5rem;
	right: 1rem;
}
.fa-times-circle {
	position: relative;
	bottom: .1rem;
	font-size: 1rem;
}
/* 过渡：展开/收起 */
.stretch-enter,
.stretch-leave-to {
	width: 15%;
	opacity: 0;
}
.stretch-enter-to,
.stretch-leave {
	width: 100%;
	opacity: 1;
}
.stretch-enter-active {
	transition: all .1s linear;
}
.stretch-leave-active {
	transition: all .3s linear;
}
/* 筛选器 */
.toolbar-toggler {
	width: calc(100% - 2.3rem);
	font-size: 1rem;
	color: #4f94cd;
}
.toolbar-toggler .navbar-toggler {
	color: #4f94cd;
}
.toolbar-toggler .active {
	color: #363636;
}
/* 筛选面板 */
#screen-collapse .btn {
	color: #4f94cd;
}
#screen-collapse .btn-sm {
	font-size: .9rem;
}
#screen-collapse span {
	display: inline-block;
	width: 1rem;
	padding: 0;
	margin: 0;
	font-size: .8rem;
	line-height: 1;
	transform: rotate(90deg);
}
#screen-collapse .active {
	color: white;
}
#screen-collapse .active .disabled {
	color: #a9a9a9;
}
#screen-collapse .more {
	color: #a9a9a9;
	background-color: #e8e8e8;
	border-color: #e8e8e8;
}
#screen-collapse .navbar-toggler {
	font-size: 1rem;
	opacity: 0;
}
#screen-collapse .show {
	opacity: 1;
}

/* 更新状态栏 */
.divider {
	width: 100%;
	height: 3rem;
	margin-top: .25rem;
	font-size: 1rem;
	line-height: 3;
	color: #cfcfcf;
	text-align: center;
}
.divider hr {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
}
/* 动画：图标旋转 */
.fa-sync-alt,
.fa-sync {
	animation: rotating 1s linear infinite;
}
@keyframes rotating {
	100% {
		transform: rotate(360deg);
	}
}
/* 过渡：下拉/收起 */
.pull-enter,
.pull-leave-to {
	margin-top: -3.25rem;
}
.pull-enter-to,
.pull-leave {
	margin-top: .25rem;
}
.pull-enter-active {
	transition: margin-top .1s linear;
}
.pull-leave-active {
	transition: margin-top .3s linear;
}

/* 全览模式 */
.film-card {
	background-color: white;
}
/* 海报 */
.film-card-poster {
	position: relative;
	width: 5.9rem;
	height: 8.8rem;
	overflow: hidden;
	border-radius: .3rem;
}
.film-card-poster .btn {
	width: 6rem;
	color: white;
	border-color: white;
}
.film-card-poster p {
	width: 100%;
	font-size: .9rem;
	text-align: center;
	color: #cfcfcf;
	opacity: 0;
	transition: opacity .2s linear;
}
.film-card-poster span {
	color: white;
}
.film-card-poster .show {
	opacity: 1;
}
.film-card-poster .badge {
	position: absolute;
	top: .3rem;
	right: .3rem;
	height: 1.35rem;
	padding-bottom: 0;
	padding-top: .235rem;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1;
	color: white;
}
/* 信息 */
.film-card-info {
	width: calc(100% - 5.9rem);
	line-height: 1.35;
	color: #9c9c9c;
}
.film-card-info h5 {
	margin-top: .1rem;
	margin-bottom: .05rem;
	font-weight: bold;
	line-height: 1;
	color: #363636;
}
.film-card-info h6 {
	margin-top: 0;
	margin-bottom: .35rem;
	font-weight: bold;
	white-space: nowrap;
	overflow-x: auto;
}
.film-card-info p {
	margin: 0;
	font-size: .9rem;
}
.film-card-info .d-flex p:last-of-type {
	width: 80%;
	white-space: nowrap;
	overflow-x: auto;
}
/* 评语 */
.film-card-comment {
	height: 2.4rem;
	font-size: 1rem;
	line-height: 2.4;
	color: #363636;
	background-color: #f5f5f5;
	border-radius: .3rem;
}
.film-card-comment i {
	color: #9c9c9c;
}
.film-card-comment p {
	height: 100%;
	white-space: nowrap;
	overflow-x: auto;
}
/* 底部分割线 */
.tab-pane .divider {
	margin-top: 0;
	margin-bottom: 4.05rem;
}

/* 简约模式 */
.accordion .film-card {
	border-radius: .5rem;
}
/* 标题 */
.accordion-toggler {
	padding-top: .7rem;
	padding-bottom: .7rem;
	background-color: #4f94cd;
	border-radius: .5rem .5rem 0 0;
}
.accordion-toggler h5 {
	margin-bottom: .2rem;
	font-weight: bold;
	color: white;
}
.accordion-toggler .badge {
	position: relative;
	bottom: .14rem;
	height: 1.35rem;
	padding-bottom: 0;
	padding-top: .235rem;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1;
	color: white;
}
.accordion-toggler small {
	font-weight: normal;
}
.accordion-toggler p {
	margin-bottom: 0;
	color: white;
}
.accordion-toggler.collapsed {
	background-color: white;
	border-radius: .5rem;
}
.accordion-toggler.collapsed h5 {
	color: #363636;
}
.accordion-toggler.collapsed small {
	color: #696969;
}
.accordion-toggler.collapsed p {
	color: #9c9c9c;
}
/* 信息 */
.accordion .film-card-info h6 {
	padding-top: 0;
	color: #696969;
}
.accordion .film-card-comment {
	height: 3.3rem;
	padding-top: .3rem;
	padding-bottom: .3rem;
	font-size: .9rem;
	line-height: 1.5;
}
.accordion .film-card-comment i {
	font-size: 1rem;
}

/* 系列模式 */
/* 导航 */
.list-group {
	position: fixed;
	top: 6rem;
	left: 0;
	width: 33.3%;
	height: calc(100% - 9.8rem);
	overflow-y: auto;
	overflow-x: hidden;
	background-color: white;
}
.series-up {
	top: 3.25rem;
	height: calc(100% - 7.05rem);
}
.list-group-item {
	width: calc(100% + 1px);
	font-size: .9rem;
	white-space: nowrap;
	color: #9c9c9c;
}
.list-group-item span:first-of-type {
	font-size: 1rem;
	font-weight: bold;
	color: #696969;
}
.list-group-item .badge {
	position: relative;
	bottom: .07rem;
	height: 1rem;
	padding-bottom: 0;
	padding-top: .15rem;
	font-size: .8rem;
	line-height: 1;
	color: white;
	background-color: #4f94cd;
}
.list-group-item.active {
	background-color: #4f94cd;
	border-color: #4f94cd;
}
.list-group-item.active span:first-of-type {
	color: white;
}
.list-group-item.active .badge {
	color: #4f94cd;
	background-color: white;
}
/* 遮罩 */
.detail-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: calc(3.8rem + 1px);
	left: 0;
	z-index: 1040;
	background-color: rgba(0,0,0,.5);
}
/* 内容 */
.series-content {
	width: 100%;
	overflow-x: hidden;
}
.series-id {
	position: relative;
	top: -6rem;
}
.series-content .film-card-poster {
	width: 6.9rem;
	height: 9.9rem;
	box-shadow: .3rem .3rem .5rem rgba(0,0,0,.15);
}
.series-content .film-card-poster .badge {
	top: auto;
	bottom: .3rem;
}
.series-content h6 {
	width: 6.9rem;
	color: #363636;
}
.series-content h6 span {
	color: #9c9c9c;
}
.series-content span.badge {
	position: absolute;
	top: -.3rem;
	left: .8rem;
	height: 1.35rem;
	font-size: .9rem;
	line-height: 1.35;
	color: white;
	background-color: rgba(79,148,205,.8);
}
.series-content span.badge span {
	font-size: .8rem;
	font-weight: normal;
}
/* 详情 */
.series-content-detail {
	position: fixed;
	right: 0;
	bottom: calc(3.8rem + 1px);
	left: 0;
	z-index: 1050;
}
.detail-up {
	top: 0;
}
/* 过渡：上滑/收起 */
.slide-enter,
.slide-leave-to {
	transform: translateY(100%);
}
.slide-enter-to,
.slide-leave {
	transform: translateY(0);
}
.slide-enter-active {
	transition: transform .3s linear;
}
.slide-leave-active {
	transition: transform .1s linear;
}
.series-content-detail img {
	transition: all .2s linear;
}
.scale {
	transform: scale(.92, .92);
	transform-origin: 50% 50%;
}
.series-content-detail .film-card-poster {
	width: 100%;
	height: auto;
	box-shadow: none;
	line-height: 1.5;
	text-align: center;
}
/* 信息 */
.series-content-detail .film-card-info {
	position: absolute;
	right: 0;
	bottom: -1px;
	left: 0;
	width: 100%;
	color: #696969;
	background-color: white;
}
.series-content-detail .film-card-info h5 {
	margin: 0;
}
.series-content-detail .film-card-info h6 {
	width: 100%;
	margin-top: .45rem;
	margin-bottom: 1rem;
	color: #696969;
}
.series-content-detail .film-card-info p {
	margin-top: .45rem;
}
.series-content-detail .film-card-comment {
	position: absolute;
	top: -2.4rem;
	right: 0;
	left: 0;
	background-color: rgba(245,245,245,.75);
	border-radius: 0;
}
.series-content-detail .film-card-comment i {
	color: #696969;
	opacity: .7;
}
.series-content-detail .film-card-comment div:last-of-type {
	height: 100%;
	white-space: nowrap;
	overflow-x: auto;
}
/* 底部分割线 */
.series-content .divider hr {
	width: 25%;
}

/* 快捷按钮 */
.shortcut {
	position: fixed;
	right: .7rem;
	bottom: 7.5rem;
	width: 2.5rem;
	height: 2.5rem;
	padding-top: .625rem;
	font-size: 1.25rem;
	line-height: 1;
	color: white;
	text-align: center;
	background-color: #363636;
	border-radius: 50%;
	opacity: .5;
}
#to-top.shortcut {
	bottom: 10.5rem;
}
#to-bottom.shortcut {
	bottom: 4.5rem;
}


/* 底部导航 */
#footer .nav {
	height: 3.8rem;
	background-color: white;
}
#footer .nav-link {
	padding-top: .6rem;
	font-size: .8rem;
	color: #a9a9a9;	
}
#footer .nav-link i {
	font-size: 1.5rem;
}
#footer .active {
	color: #4f94cd;
}