<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

	<!-- 引入样式库 -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<!-- 私有样式 -->
	<link rel="stylesheet" type="text/css" href="all-light-theme.css">

	<!-- 图标 -->
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

	<title>MR.S - 来自Shaw的电影推荐</title>
</head>
<body>
	<div id="all">
		<!-- 顶部导航栏 -->
		<nav class="navbar navbar-expand-lg border-bottom fixed-top" :class="{hide: topHidden}" id="all-header">
			<span class="navbar-text mb-0 h4">全部影片</span>
			<!-- 模式切换 -->
			<ul class="nav nav-pills">
				<li class="nav-item ml-3">
					<a class="nav-link rounded-0 px-0 active" data-toggle="pill" href="#detail-mode">全览模式</a>
				</li>
				<li class="nav-item ml-3">
					<a class="nav-link rounded-0 px-0" data-toggle="pill" href="#mini-mode">简约模式</a>
				</li>
				<li class="nav-item ml-3">
					<a class="nav-link rounded-0 px-0" data-toggle="pill" href="#series-mode">系列模式</a>
				</li>
			</ul>
		</nav>

		<div class="container-fluid p-0">
			<!-- 工具栏 -->
			<nav class="navbar navbar-expand-lg border-bottom toolbar" :class="{up: topHidden}">
				<!-- 筛选器 -->
				<div class="toolbar-toggler" data-toggle="collapse" data-target="#screen-collapse">
					<button class="navbar-toggler px-0" :class="{active: !screenHidden}" type="button">
						<i class="fas fa-sort-amount-down"></i>
					</button>
					<!-- 筛选信息 -->
					<template v-if="screenHidden">
						<span v-show="sortOrder == 1 && !isReverse">最早上映</span>
						<span v-show="sortOrder == 1 && isReverse">最近上映</span>
						<span v-show="sortOrder == 2 && !isReverse">最高评分</span>
						<span v-show="sortOrder == 2 && isReverse">最低评分</span>
						<span v-show="sortOrder == 3 && !isReverse">最近更新</span>
						<span v-show="sortOrder == 3 && isReverse">最早更新</span>
						<span v-for="item in activeTags"> · {{ item }}</span>
					</template>
				</div>
				<!-- 搜索框 -->
				<form>
					<transition name="stretch">
						<input class="form-control rounded-pill" :style="[isFocus ? '' : {width: searchText.length + 4 + 'rem'}]" type="text" placeholder="输入关键词搜索" v-if="isStretch" @focus.passive="isFocus = true" @blur.passive="isFocus = false" v-model.trim="searchText" v-focus>
					</transition>
					<button class="navbar-toggler" :class="{active: isFocus}" type="button" @mousedown.prevent @click.passive="onSearch">
						<i class="fas fa-times-circle" v-if="searchText.length > 0"></i>
						<i class="fas fa-search" v-else></i>
					</button>
				</form>

				<!-- 筛选面板 -->
				<div class="collapse navbar-collapse px-1 pt-3 pb-1" id="screen-collapse">
					<div class="row no-gutters justify-content-between">
						<!-- 排序按钮 -->
						<div class="col-4 px-1" v-for="(item, index) in sorts">
							<v-touch class="btn btn-sm rounded-pill px-2" :class="{active: sortOrder == index + 1}" @tap="onSort(index)">按{{ item }}排序<span>
								<i class="fas fa-caret-left mr-0" :class="{disabled: !isReverse}"></i>
								<i class="fas fa-caret-right ml-0" :class="{disabled: isReverse}"></i>
							</span></v-touch>
						</div>
						<div class="w-100"><hr></div>
						<!-- 过滤标签 -->
						<div class="col-2 p-1" v-for="(item, index) in tags" v-if="moreHidden ? index < 17 : true">
							<v-touch class="btn btn-sm" :class="{active: item.isActive}" @tap="onTag(item)">{{ item.tag }}</v-touch>
						</div>
						<div class="col-2 p-1" v-if="moreHidden">
							<v-touch class="btn btn-sm more" @tap="moreHidden = false">更多</v-touch>
						</div>
						<div class="w-100 mt-1 text-center">
							<v-touch class="navbar-toggler" :class="{show: activeTags.length > 0}" @tap="clearTags">
								<i class="fas fa-times mt-1"></i> 清空标签
							</v-touch>
						</div>
					</div>
				</div>
			</nav>

			<!-- 更新状态栏 -->
			<transition name="pull">
				<div class="divider" v-if="isPull">
					<div v-if="isSuccess">
						<hr>&nbsp;&nbsp; 更新成功 <i class="fas fa-check-circle"></i> &nbsp;&nbsp;<hr>
					</div>
					<div v-else-if="isError">
						<hr>&nbsp;&nbsp; 更新失败 <i class="fas fa-exclamation-circle"></i> &nbsp;&nbsp;<hr>
					</div>
					<div v-else>
						<hr>&nbsp;&nbsp; 正在更新 <i class="fas fa-sync-alt"></i> &nbsp;&nbsp;<hr>
					</div>
				</div>
			</transition>

			<!-- 电影列表 -->
			<div class="tab-content">
				<!-- 全览模式 -->
				<v-touch class="tab-pane active" id="detail-mode" @swipeup="swipeUp" @swipedown="swipeDown" :swipe-options="{threshold: 100}">
					<div class="film-card my-1 p-3" v-for="item in filterFilms" :key="item.id">
						<div class="d-flex">
							<div class="film-card-poster">
								<!-- 海报 -->
								<img data-toggle="modal" :data-target="'#poster_' + item.id" data-backdrop="static" :src="item.posterUrl" :alt="item.transName" width="100%" height="100%">
								<!-- 查看大图 -->
								<div class="modal" :id="'poster_' + item.id" tabindex="-1">
									<div class="modal-dialog modal-dialog-centered m-0">
										<div class="modal-content bg-transparent border-0 p-3 pb-1">
											<img data-dismiss="modal" :src="item.posterUrl" :alt="item.transName" width="100%"><br>
											<a class="btn mx-auto" :href="item.posterUrl" :download="item.transName" @click.passive="onSave">保存图片</a><br>
											<p :class="{fade: isSave}">图片 <span>{{ item.transName }}</span> 已保存到手机相册</p>
										</div>
									</div>
								</div>
								<!-- 评分 -->
								<a class="badge" :style="{'background-color': getColor(item)}" :href="item.doubanUrl" target="_blank">{{ item.score }}</a>
							</div>
							<!-- 信息 -->
							<div class="film-card-info pl-2">
								<h5>{{ item.transName }}</h5>
								<h6>{{ item.offiName }}</h6>
								<div class="d-flex">
									<p>类型：</p>
									<p>{{ item.type }}</p>
								</div>
								<div class="d-flex">
									<p>年份：</p>
									<p>{{ item.year }}</p>
								</div>
								<div class="d-flex">
									<p>地区：</p>
									<p>{{ item.country }}</p>
								</div>
								<div class="d-flex">
									<p>导演：</p>
									<p>{{ item.director }}</p>
								</div>
								<div class="d-flex">
									<p>主演：</p>
									<p>{{ item.star }}</p>
								</div>
							</div>
						</div>
						<!-- 评语 -->
						<div class="d-flex mt-2 px-2 film-card-comment">
							<div><i class="fas fa-comment-dots mr-2"></i></div>
							<p>{{ item.comment }}</p>
						</div>
					</div>
					<!-- 底部分割线 -->
					<div class="divider" v-if="films.length > 0">
						<div v-if="filterFilms.length > 0">
							<hr>&nbsp;&nbsp; 已到底部 <i class="far fa-check-circle"></i> &nbsp;&nbsp;<hr>
						</div>
						<div v-else>
							<hr>&nbsp;&nbsp; 暂无匹配 <i class="far fa-times-circle"></i> &nbsp;&nbsp;<hr>
						</div>
					</div>
				</v-touch>

				<!-- 简约模式 -->
				<v-touch class="tab-pane accordion" id="mini-mode" @swipeup="swipeUp" @swipedown="swipeDown" :swipe-options="{threshold: 100}">
					<div class="film-card m-1" v-for="item in filterFilms" :key="item.id">
						<!-- 主题 -->
						<div class="accordion-toggler px-3 shadow collapsed" data-toggle="collapse" :data-target="'#info_' + item.id">
							<h5><a class="badge mr-2" :style="{'background-color': getColor(item)}" :href="item.doubanUrl" target="_blank">{{ item.score }}</a>{{ item.transName }} <small>({{ item.year }})</small></h5>
							<p><i class="fas fa-tag mr-2 mb-0"></i>{{ item.type }}</p>
						</div>
						<!-- 展开详情 -->
						<div class="collapse" :id="'info_' + item.id" data-parent="#mini-mode">
							<div class="d-flex p-3">
								<div class="film-card-poster">
									<!-- 海报 -->
									<img data-toggle="modal" :data-target="'#poster2_' + item.id" data-backdrop="static" :src="item.posterUrl" :alt="item.transName" width="100%" height="100%">
									<!-- 查看大图 -->
									<div class="modal" :id="'poster2_' + item.id" tabindex="-1">
										<div class="modal-dialog modal-dialog-centered m-0">
											<div class="modal-content bg-transparent border-0 p-3 pb-1">
												<img data-dismiss="modal" :src="item.posterUrl" :alt="item.transName" width="100%"><br>
												<a class="btn mx-auto" :href="item.posterUrl" :download="item.transName" @click.passive="onSave">保存图片</a><br>
												<p :class="{fade: isSave}">图片 <span>{{ item.transName }}</span> 已保存到手机相册</p>
											</div>
										</div>
									</div>
								</div>
								<!-- 信息 -->
								<div class="film-card-info pl-2">
									<h6>{{ item.offiName }}</h6>
									<div class="d-flex">
										<p>地区：</p>
										<p>{{ item.country }}</p>
									</div>
									<div class="d-flex">
										<p>导演：</p>
										<p>{{ item.director }}</p>
									</div>
									<div class="d-flex">
										<p>主演：</p>
										<p>{{ item.star }}</p>
									</div>
									<div class="film-card-comment mt-2 px-2">
										<i class="fas fa-comment-dots m-0 mr-2"></i>{{ item.comment }}
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 底部分割线 -->
					<div class="divider" v-if="films.length > 0">
						<div v-if="filterFilms.length > 0">
							<hr>&nbsp;&nbsp; 已到底部 <i class="far fa-check-circle"></i> &nbsp;&nbsp;<hr>
						</div>
						<div v-else>
							<hr>&nbsp;&nbsp; 暂无匹配 <i class="far fa-times-circle"></i> &nbsp;&nbsp;<hr>
						</div>
					</div>
				</v-touch>

				<!-- 系列模式 -->
				<div class="tab-pane" id="series-mode">
					<div class="row no-gutters">
						<!-- 导航 -->
						<div class="col-5 p-1">
							<div class="list-group border" id="series-nav">
								<a class="list-group-item list-group-item-action p-2 border-left-0 border-right-0" :href="'#series_' + item.seriesId" v-for="(item, index) in filterSeries" :key="item.seriesId">
									<span>{{ item.seriesName }}&nbsp;</span> <span class="badge px-1 m-0 rounded-0" v-show="item.filmList.length > 1">系列</span><span class="badge px-1 m-0 rounded-0" v-show="item.filmList.length > 1">{{ item.filmList.length }}</span>
									<br>
									{{ item.firstYear }}
									<br>
									评分最高：{{ item.topScore }}
								</a>
							</div>
						</div>
						<!-- 详情 -->
						<v-touch class="col-7 pl-1 pr-2" @swipeup="swipeUp" @swipedown="swipeDown" :swipe-options="{threshold: 100}">
							<div class="series-content m-0 p-0" data-spy="scroll" data-target="#series-nav" data-offset="75">
								<div :id="'series_' + item.seriesId" v-for="item in filterSeries" :key="item.seriesId">
									<!-- 系列分割线 -->
									<div class="divider">
										<hr>&nbsp;&nbsp; {{ item.seriesName }} <small v-show="item.filmList.length > 1">系列</small> &nbsp;&nbsp;<hr>
									</div>
									<div class="d-flex" v-for="film in item.filmList" :key="film.id">
										<div class="film-card-poster">
											<!-- 海报 -->
											<img data-toggle="modal" :data-target="'#poster3_' + film.id" data-backdrop="static" :src="film.posterUrl" :alt="film.transName" width="100%" height="100%">
											<!-- 查看大图 -->
											<div class="modal" :id="'poster3_' + film.id" tabindex="-1">
												<div class="modal-dialog modal-dialog-centered m-0">
													<div class="modal-content bg-transparent border-0 p-3 pb-1">
														<img data-dismiss="modal" :src="film.posterUrl" :alt="film.transName" width="100%"><br>
														<a class="btn mx-auto" :href="film.posterUrl" :download="film.transName" @click.passive="onSave">保存图片</a><br>
														<p :class="{fade: isSave}">图片 <span>{{ film.transName }}</span> 已保存到手机相册</p>
													</div>
												</div>
											</div>
											<!-- 评分 -->
											<span class="badge">{{ film.year }}</span><a class="badge" :style="{'background-color': getColor(film)}" :href="film.doubanUrl" target="_blank">{{ film.score }}</a>
										</div>
										<!-- 信息 -->
										<div class="film-card-info">
											<h5>{{ film.transName }}</h5>
											<h6>{{ film.offiName }}</h6>
											<div class="d-flex">
												<p>类型：</p>
												<p>{{ film.type }}</p>
											</div>
											<div class="d-flex">
												<p>地区：</p>
												<p>{{ film.country }}</p>
											</div>
											<div class="d-flex">
												<p>导演：</p>
												<p>{{ film.director }}</p>
											</div>
											<div class="d-flex">
												<p>主演：</p>
												<p>{{ film.star }}</p>
											</div>
										</div>
										<!-- 评语 -->
										<div class="d-flex mt-2 px-2 film-card-comment">
											<div><i class="fas fa-comment-dots mr-2"></i></div>
											<p>{{ film.comment }}</p>
										</div>
									</div>
								</div>
								<!-- 底部分割线 -->
								<div class="divider" v-if="series.length > 0">
									<div v-if="filterSeries.length > 0">
										<hr>&nbsp;&nbsp; 已到底部 <i class="far fa-check-circle"></i> &nbsp;&nbsp;<hr>
									</div>
									<div v-else>
										<hr>&nbsp;&nbsp; 暂无匹配 <i class="far fa-times-circle"></i> &nbsp;&nbsp;<hr>
									</div>
								</div>
							</div>
						</v-touch>
					</div>
				</div>
			</div>
		</div>

		<!-- 快捷按钮 -->
		<div class="shortcut" id="to-top"><i class="fas fa-chevron-up"></i></div>
		<v-touch class="shortcut" @tap="onReload">
			<i class="fas fa-sync-alt" v-if="isReload"></i>
			<i class="fas fa-redo-alt" v-else></i>
		</v-touch>
		<div class="shortcut" id="to-bottom"><i class="fas fa-chevron-down"></i></div>
	</div>

	<!-- 底部全局导航 -->
	<div id="footer">
		<ul class="nav nav-justified border-top fixed-bottom">
			<li class="nav-item">
				<a class="nav-link active" href="#all"><i class="fas fa-star"></i><br>全部</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#watch"><i class="fas fa-play-circle"></i><br>待看</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#review"><i class="fas fa-pen-square"></i><br>影评</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#setting"><i class="fas fa-cog"></i><br>设置</a>
			</li>
		</ul>
	</div>

	<!-- 动态调整字号 -->
	<script type="text/javascript" src="font-size.js"></script>
	<!-- 引入脚本库 -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://vuejs.org/js/vue.js"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
	<script src="./node_modules/vue-touch/dist/vue-touch.js"></script>
	<!-- 私有脚本 -->
	<script type="text/javascript" src="all.js"></script>
</body>
</html>