html {
	font-size: 12px;
}
body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	padding-top: 3.8rem;
	line-height: 0.4rem;
	background-color: #E8E8E8;
	letter-spacing: 0.05rem;
}
button {
	margin: 0;
	padding: 0;
	text-align: center;
	vertical-align: baseline;
	letter-spacing: 0.05rem;
}
/* 去除按钮点击后显示的边框 */
.navbar-toggler:focus,
.navbar-toggler:active:focus,
.navbar-toggler.active:focus,
.navbar-toggler.focus,
.navbar-toggler:active.focus,
.navbar-toggler.active.focus {
	outline: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: none;
	text-shadow: none;
}

#headNavbar nav {
	background: #ededed;
	border-bottom: 0.08rem solid #D3D3D3;
}
#headNavbar span {
	font-size: 1.2rem;
}
#filterToggler, #searchToggler, #searchButton {
	height: 2.5rem;
	font-size: 1.2rem;
	color: #A9A9A9;
}
.sortsDiv {
	width: 60%;
	border-right: 0.1rem solid #E8E8E8;
}
.sortsDiv button {
	font-size: 0.9rem;
	border-color: #A9A9A9;
	color: #A9A9A9;
	height: 1.8rem;
	line-height: 0.9rem;
	width: auto;
	white-space: nowrap;
}
.sortsDiv .chosen {
	border-color: #4F4F4F;
	color: #4F4F4F;
}
.tagsDiv button {
	font-size: 0.9rem;
	border-color: #4F94CD;
	color: #4F94CD;
	height: 1.8rem;
	line-height: 0.9rem;
	width: auto;
}
.searchForm {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9;
	width: 100%;
}
.inputClass {
	position: absolute;
	top: 0.5rem;
	right: 1.1rem;
	z-index: 99;
	border-radius: 3rem;
	background-color: #f8f9fa;
	width: 8%;
	opacity: 0;
	transition: all 0.3s;
}
.inputTransition {
	width: 55%;
	opacity: 1;
}
#searchButton {
	position: absolute;
	top: 0.4rem;
	right: 1.1rem;
	z-index: 999;
}

.topDivider {
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	color: #CFCFCF;
}
.topDivider hr {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
}

.filmCard {
	background-color: #f8f9fa;
	border-radius: 1rem;
}
.posterDiv {
	height: 9.9rem;
	position: relative;
	overflow: hidden;
	border-radius: 0.3rem;
}
.posterDiv img {
	width: 100%;
	height: 100%;
}
.scoreShadow {
	position: absolute;
	top: -15%;
	left: -15%;
	z-index: 1;
	width: 50%;
	height: 75%;
	background: linear-gradient(to right, rgba(28, 28, 28, 0.7), rgba(28, 28, 28, 0.5), rgba(28, 28, 28, 0.3), rgba(28, 28, 28, 0));
	transform: rotate(35deg);
}
.posterDiv p {
	position: absolute;
	top: 0.8rem;
	left: 0.4rem;
	z-index: 2;
}
.posterDiv p::first-letter {
	font-size: 1.5rem;
}

.infoDiv {
	padding-top: 0.2rem;
	color: #9C9C9C;
}
.infoDiv h5 {
	display: inline-block;
	font-weight: bold;
	color: #1C1C1C;
}
.infoDiv span {
	font-size: 1.1rem;
	letter-spacing: 0.03rem;
	margin-bottom: 0.4rem;
}
.infoDiv button {
	margin-bottom: 0.4rem;
	margin-left: 0.5rem;
	padding: 0;
	font-size: 0.9rem;
	width: 1.2rem;
	height: 1.5rem;
	line-height: 1rem;
	color: #4F94CD;
	border-color: #4F94CD;
}
.infoDiv h6 {
	line-height: 0.8rem;
	margin-bottom: 1.8rem;
	letter-spacing: 0.03rem;
}

.commentDiv {
	height: 2.5rem;
	line-height: 2.5rem;
	background-color: #ededed;
	border-radius: 0.3rem;
	color: #1C1C1C;
}
.commentDiv i {
	color: #BEBEBE;
	line-height: 0.8rem;
}
.playSource {
	height: 2.5rem;
	padding-left: 0.6rem;
}
.playSource button {
	background-color: #4F94CD;
	border-color: #4F94CD;
	color: white;
	width: 100%;
}
.playSource div {
	text-align: center;
}
.playSource p {
	font-size: 0.9rem;
	margin-top: 1rem;
}

.bottomDivider {
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	color: #CFCFCF;
	margin-bottom: 4.8rem;
}
.bottomDivider hr {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
}

#footNav ul {
	background-color: white;
	height: 4rem;
	border-top: 0.08rem solid #E8E8E8;
	padding-top: 0.1rem;
}
#footNav ul li {
	text-align: center;
}
#footNav a {
	color: #A9A9A9;
	font-size: 0.8rem;
	line-height: 1.2rem;
}
#footNav i {
	font-size: 1.5rem;
}
.sidebarClass {
	position: fixed;
	right: -50%;
	width: 50%;
	height: calc(100vh - 4rem);
	background: #E8E8E8;
	z-index: 9999;
	transition: width 1s;
}
.sidebarTransition {
	width: 100%;
}