<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" type="text/css" href="movies.css">

	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

	<title>影片推荐</title>
</head>
<body>
	<div class="container-fluid">
		<div id="app">
			<div id="headNavbar">
				<nav class="navbar navbar-expand-lg fixed-top">
					<button type="button" class="navbar-toggler border-0" data-toggle="collapse" data-target="#filterCollapse" id="filterToggler">
						<i class="fas fa-bars"></i>
					</button>
					<span class="navbar-text">全部影片</span>
					<button type="button" class="navbar-toggler border-0 invisible">
						<i class="fas fa-search"></i>
					</button>
					<form class="searchForm">
						<input type="search" class="form-control inputClass" id="searchInput" placeholder="输入电影名称">
						<button type="button" class="navbar-toggler border-0" id="searchButton"><i class="fas fa-search"></i></button>
					</form>
					<div class="collapse navbar-collapse py-3" id="filterCollapse">
						<div class="d-flex mx-2">
							<div class="sortsDiv pr-1">
								<button type="button" class="btn m-1 chosen" name="sort" @click="sortOrder = 0"><i class="fas fa-clock"></i> 按年份排序</button>
								<button type="button" class="btn m-1" name="sort" @click="sortOrder = 1"><i class="fas fa-star-half-alt"></i> 按评分排序</button>
								<button type="button" class="btn m-1" name="sort" @click="sortOrder = 2"><i class="fas fa-sync-alt"></i> 按更新排序</button>
							</div>
							<div class="tagsDiv pl-2">
								<button type="button" class="btn float-left m-1" v-for="item in tags">{{ item.tag }}</button>
							</div>
						</div>
					</div>
				</nav>
			</div>

			<div class="topDivider mt-2">
				<hr>&nbsp;&nbsp; 下拉更新 <i class="fas fa-redo-alt"></i> &nbsp;&nbsp;<hr>
			</div>

			<div id="filmList">
				<div class="filmCard my-3 p-3" v-for="(item, index) in filterFilms" :key="item.id">
					<div class="row no-gutters mb-1">
						<div class="col-3">
							<div class="posterDiv">
								<a :href="item.doubanUrl" target="_blank"><img :src="item.posterUrl"></a>
								<div class="scoreShadow"></div>
								<p :style="{color: scoreColor(item)}">{{ item.score }}</p>
							</div>
						</div>
						<div class="col-9">
							<div class="infoDiv pl-2" :id="item.filmId">
								<h5>{{ item.translateName }}</h5>
								<span>({{ item.year }})</span>
								<button type="button" class="btn" id="seriesButton" v-if="item.hasSeries"><i class="fas fa-sort"></i></button>
								<h6>{{ item.officialName }}</h6>
								<p>地区：{{ item.country }}</p>
								<p>类型：{{ item.type }}</p>
								<p>导演：{{ item.director }}</p>
								<p>主演：{{ item.star }}</p>
							</div>
						</div>
					</div>
					<div class="row no-gutters">
						<div class="col-9">
							<div class="commentDiv pl-2">
								<i class="fas fa-comment-dots"></i> {{ item.comment }}
							</div>
						</div>
						<div class="col-3">
							<div class="playSource">
								<button type="button" class="btn" id="'add_' + item.id"><i class="far fa-play-circle"></i> 播放</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="bottomDivider">
				<hr>&nbsp;&nbsp; 已到底部 <i class="far fa-check-circle"></i> &nbsp;&nbsp;<hr>
			</div>

			<div id="footNav">
				<ul class="nav nav-fill fixed-bottom px-3">
					<li class="nav-item">
						<a href="#" class="nav-link"><i class="fas fa-film"></i><br>全部</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link"><i class="far fa-plus-square"></i><br>待看</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link"><i class="far fa-check-square"></i><br>已看</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link" id="settingToggler"><i class="fas fa-sliders-h"></i><br>设置</a>
					</li>
				</ul>
				<div id="settingSidebar" class="sidebarClass">
					<ul class="list-unstyled">
						<li>侧边栏菜单项1</li>
						<li>侧边栏菜单项2</li>
						<li>侧边栏菜单项3</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
	<script type="text/javascript" src="movies.js"></script>
</body>
</html>