body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	padding-top: 4rem;
	background-color: #E8E8E8;
	color: #1C1C1C;
}

/* 导航栏1 */
#headNavbar nav:first-of-type {
	height: 3rem;
	background-color: #F0F0F0;
}
#headNavbar li {
	height: 1.5rem;
}
#headNavbar a {
	font-size: 0.9rem;
	line-height: 0.4rem;
}
/* 导航栏2 */
#headNavbar nav:last-of-type {
	position: fixed;
	top: 3rem;
	right: 0;
	z-index: 29;
	width: 100%;
	background-color: #F0F0F0;
}
.screenToggler {
	font-size: 1.25rem;
	color: #A9A9A9;
}
.togglerColor {
	color: #363636;
}
#screenCollapse button {
	width: 100%;
}

.searchForm input:focus {
	border: none;
}
.searchForm {
	position: absolute;
	top: 0;
	right: 4%;
	z-index: 39;
	width: 80%;
	height: 100%;
}
.searchInput {
	position: absolute;
	top: 0.25rem;
	right: 0;
	z-index: 49;
	height: 2.4rem;
	line-height: 2.4rem;
	width: 15%;
	opacity: 0;
	transition: width,opacity 0.3s;
}
.inputTransition {
	width: 100%;
	opacity: 1;
}
#searchButton {
	position: absolute;
	top: 0.5rem;
	right: 0;
	z-index: 59;
	font-size: 1.25rem;
	color: #A9A9A9;
}

/* 下拉更新状态栏 */
#reloadDivider {
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	color: #CFCFCF;
	font-size: 1rem;
	margin-top: 0.4rem;
}
#reloadDivider hr {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
}
.fa-sync-alt {
	animation: rotating 1s linear infinite;
}
@keyframes rotating {
	100% {transform: rotate(360deg);}
}

/* 全览模式 */
.detailCard {
	background-color: #F9F9F9;
	border-radius: 1rem;
}
.filmPoster {
	height: 9.9rem;
	position: relative;
	overflow: hidden;
	border-radius: 0.3rem;
}
.filmPoster img {
	border-radius: 0.3rem;
}
.scoreShadow {
	position: absolute;
	top: -15%;
	left: -15%;
	z-index: 9;
	width: 50%;
	height: 70%;
	background: linear-gradient(to right, rgba(28, 28, 28, 0.7), rgba(28, 28, 28, 0.5), rgba(28, 28, 28, 0.3), rgba(28, 28, 28, 0));
	transform: rotate(35deg);
}
.filmPoster p {
	padding: 0;
	position: absolute;
	top: 0.3rem;
	left: 0.3rem;
	z-index: 19;
	font-size: 0.9rem;
}
.filmPoster p::first-letter {
	font-size: 1.3rem;
}

.filmInfo {
	white-space: nowrap;
	line-height: 0.3rem;
	padding-top: 0.5rem;
	overflow: hidden;
}
.filmInfo h5 {
	display: inline-block;
	font-weight: bold;
	color: #363636;
}
.filmInfo span {
	font-size: 1rem;
	color: #9C9C9C;
	margin-bottom: 0.5rem;
}
.filmInfo p {
	font-size: 0.9rem;
	color: #9C9C9C;
}
.filmInfo p:first-of-type {
	font-size: 1rem;
	font-weight: bold;
	margin-top: 0.3rem;
}

.filmComment {
	background-color: #F0F0F0;
	border-radius: 0.3rem;
	height: 2.4rem;
	line-height: 2.5rem;
	font-size: 1rem;
	color: #363636;
}
.filmComment i {
	color: #B5B5B5;
}
.addToList button {
	font-size: 1rem;
	height: 2.4rem;
	line-height: 1.2rem;
	width: 100%;
}

/* 底部分割线 */
.bottomDivider {
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	color: #CFCFCF;
	font-size: 1rem;
	margin-bottom: 5rem;
}
.bottomDivider hr {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
}

/* 快捷按钮 */
.shortCut {
	position: fixed;
	right: 0.5rem;
	bottom: 4.3rem;
	z-index: 9;
	line-height: 3rem;
}
.shortCut button {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
}

/* 加载时显示画面 */
#loadingBg {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
	width: 100vw;
	height: calc(100vh - 4rem);
	background-color: rgba(255, 255, 255, 1);
}
#loadingInfo {
	width: 30%;
	height: 30%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	font-size: 1rem;
	text-align: center;
}
#loadingInfo img {
	width: 50%;
}

/* 底部导航 */
.footNav ul {
	background-color: white;
	height: 3.8rem;
}
.footNav a {
	color: #A9A9A9;
	font-size: 0.8rem;
	line-height: 1.2rem;
}
.footNav i {
	font-size: 1.5rem;
	margin-top: 0.1rem;
}
.footNav ul li:first-of-type a {
	line-height: 1.1rem;
}
.footNav ul li:first-of-type i {
	font-size: 1.75rem;
	margin-top: 0;
}

/* 去除按钮点击后的边框 */
.navbar-toggler:focus,
.navbar-toggler:active:focus,
.navbar-toggler.active:focus,
.navbar-toggler.focus,
.navbar-toggler:active.focus,
.navbar-toggler.active.focus {
	outline: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: none;
	text-shadow: none;
}