/* 全局样式 */
body {
	margin: 0;
	padding-top: 4rem;
	width: 100vw;
	height: 100vh;
	color: #1c1c1c;
	background-color: #e8e8e8;
}
/* $primary: #4f94cd; $secondary: #a9a9a9; $light: #e8e8e8; $dark: #363636; */
.btn-outline-primary {
	color: #4f94cd;
	border-color: #4f94cd;
}
.btn-outline-primary:focus,
.btn-outline-primary:active:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.focus,
.btn-outline-primary:active.focus,
.btn-outline-primary.active.focus {
	color: white;
	background-color: #4f94cd;
	border-color: #4f94cd;
}
.navbar-toggler:focus,
.navbar-toggler:active:focus,
.navbar-toggler.active:focus,
.navbar-toggler.focus,
.navbar-toggler:active.focus,
.navbar-toggler.active.focus {
	outline: none;
	box-shadow: none;
}
.form-control:focus,
.form-control:active:focus,
.form-control.active:focus,
.form-control.focus,
.form-control:active.focus,
.form-control.active.focus {
	border-color: #4f94cd;
	outline: none;
	box-shadow: none;
}

/* 导航栏1 */
.headNavbar nav:first-of-type {
	height: 3rem;
	color: white;
	background-color: #4f94cd;
}
/* 切换模式 */
#modeSwitch .nav-link {
	padding-top: .05rem;
	height: 1.5rem;
	font-size: .9rem;
	color: #a9a9a9;
	border: 0.08rem solid #a9a9a9;
}
#modeSwitch .active {
	color: white;
	border-color: white;
	background-color: transparent;
}

/* 导航栏2 */
.headNavbar nav:last-of-type {
	position: fixed;
	top: 3rem;
	right: 0;
	z-index: 29;
	width: 100%;
	background-color: white;
}
/* 折叠面板 */
.navbar-toggler {
	color: #a9a9a9;
}
.navbar-toggler.active {
	color: #363636;
}
#screenToggler {
	font-size: 1.25rem;
}
#screenCollapse .btn {
	width: 100%;
	color: #4f94cd;
	line-height: 1.5rem;
}
#screenCollapse .active {
	color: white;
	background-color: #4f94cd;
	border-color: #4f94cd;
}
/* 搜索框 */
.headNavbar form {
	position: absolute;
	top: 0;
	right: 4%;
	padding: 0;
	width: 80%;
	height: 2.4rem;
}
#searchInput {
	position: absolute;
	top: .25rem;
	right: 0;
	width: 15%;
	height: 100%;
	line-height: 2.4rem;
	opacity: 0;
}
#searchButton {
	position: absolute;
	top: .5rem;
	right: 0;
	font-size: 1.25rem;
}

/* 下拉更新状态栏 */
#topDivider {
	margin-top: .3rem;
	padding: 0;
	width: 100%;
	height: 2rem;
}
#topDivider.pull {
	animation: reloading .3s linear;
}
#topDivider.fold {
	animation: reloading .3s linear .1s reverse;
}
@keyframes reloading {
	0% {
		margin-top: .3rem;
	}
	100% {
		margin-top: 3rem;
	}
}
#isReloading,
#reloadSuccess,
#notModified,
#reloadError {
	width: 100%;
	height: 100%;
	font-size: 1rem;
	line-height: 2rem;
	color: #cfcfcf;
	text-align: center;
}
#reloadSuccess,
#notModified,
#reloadError {
	display: none;
}
#topDivider hr {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
}
#topDivider .fa-sync-alt {
	animation: rotating 1s linear infinite;
}
@keyframes rotating {
	100% {
		transform: rotate(360deg);
	}
}

/* 全览模式 */
.detailCard {
	background-color: white;
	border-radius: 1rem;
}
/* 海报 */
.filmPoster {
	position: relative;
	width: 100%;
	height: 9.9rem;
	border-radius: .3rem;
	overflow: hidden;
}
.filmScore {
	position: absolute;
	top: .6rem;
	right: .5rem;
	width: 35%;
	height: 1.25rem;
	text-align: center;
	border-radius: .2rem;
}
.filmScore a {
	font-size: 1rem;
	line-height: 1.4rem;
	color: white;
	text-decoration: none;
}
/* 信息 */
.filmInfo {
	padding-top: .5rem;
	font-size: .9rem;
	line-height: .3rem;
	white-space: nowrap;
	color: #9c9c9c;
	overflow: hidden;
}
.filmInfo h5 {
	display: inline-block;
	margin-bottom: .3rem;
	font-weight: bold;
	color: #363636;
}
.filmInfo span {
	font-size: 1rem;
	vertical-align: .1rem;
}
.filmInfo h6 {
	font-size: 1rem;
	font-weight: bold;
}
/* 评语 */
.filmComment {
	height: 2.4rem;
	font-size: 1rem;
	line-height: 2.5rem;
	color: #363636;
	background-color: #f0f0f0;
	border-radius: .3rem;
}
.filmComment i {
	color: #b5b5b5;
}
/* 按钮 */
.addBtn a {
	width: 100%;
	height: 2.4rem;
	font-size: 1rem;
	line-height: 2.4rem;
	color: #4f94cd;
}
.addBtn .active {
	color: white;
	background-color: #4f94cd;
	border-color: #4f94cd;
}

/* 底部分割线 */
#bottomDivider {
	margin-bottom: 5rem;
	width: 100%;
	height: 2rem;
	font-size: 1rem;
	line-height: 2rem;
	color: #cfcfcf;
	text-align: center;
}
#bottomDivider hr {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
}

/* 快捷按钮 */
#toBottom {
	position: fixed;
	right: .5rem;
	bottom: 4.3rem;
	z-index: 9;
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1rem;
	line-height: 2.5rem;
	color: white;
	text-align: center;
	background-color: #363636;
	border-radius: 50%;
	opacity: .5;
}
#toTop {
	position: fixed;
	right: .5rem;
	bottom: 7.3rem;
	z-index: 9;
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1rem;
	line-height: 2.5rem;
	color: white;
	text-align: center;
	background-color: #363636;
	border-radius: 50%;
	opacity: .5;
}

/* 加载时显示画面 */
#loadingBg {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
	width: 100vw;
	height: calc(100vh - 4rem);
	background-color: white;
}
#loadingInfo,
#errorInfo {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 30%;
	height: 30%;
	font-size: 1rem;
	text-align: center;
}
#errorInfo {
	display: none;
}

/* 底部导航 */
#footer ul {
	height: 3.8rem;
	background-color: white;
}
#footer a {
	position: relative;
	font-size: .8rem;
	line-height: 1.2rem;
	color: #a9a9a9;	
}
#footer .active {
	color: #4f94cd;
}
#footer i {
	margin-top: .1rem;
	font-size: 1.5rem;
}