<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<link rel="stylesheet" type="text/css" href="page1_light.css">

	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

	<title>MR.S - 来自Shaw的电影推荐</title>
</head>
<body>
	<div id="app">
		<div class="container-fluid">
			<!-- Page 1：全部影片 -->
			<div id="all">
				<div class="headNavbar">
					<!-- 顶部导航栏1：标题、切换模式 -->
					<nav class="navbar navbar-expand-lg fixed-top border-bottom">
						<span class="navbar-brand mb-0 h4">全部影片</span>
						<ul class="nav nav-pills" id="modeSwitch">
							<li class="nav-item mx-1">
								<a class="nav-link rounded-pill px-2 py-0 active" data-toggle="pill" href="#detailMode">全览模式</a>
							</li>
							<li class="nav-item mx-1">
								<a class="nav-link rounded-pill px-2 py-0" data-toggle="pill" href="#miniMode">极简模式</a>
							</li>
							<li class="nav-item mx-1">
								<a class="nav-link rounded-pill px-2 py-0" data-toggle="pill" href="#seriesMode">系列模式</a>
							</li>
						</ul>
					</nav>				
					<!-- 顶部导航栏2：排序、过滤、搜索 -->
					<nav class="navbar navbar-expand-lg border-bottom">
						<button class="navbar-toggler" id="screenToggler" data-toggle="collapse" data-target="#screenCollapse" type="button"><i class="fas fa-bars"></i></button>
						<button class="navbar-toggler invisible" data-toggle="collapse" type="button"><i class="fas fa-search"></i></button>
						<form>
							<input class="form-control rounded-pill" id="searchInput" type="search" placeholder="输入片名进行搜索">
							<button class="navbar-toggler" id="searchButton" type="button"><i class="fas fa-search"></i></button>
						</form>
						<div class="collapse navbar-collapse py-4 px-2" id="screenCollapse">
							<div class="row no-gutters justify-content-between">
								<div class="col-4 px-1">
									<a class="nav-link rounded-pill" :class="{active: sortOrder == 1}" @click="sortOrder = 1">按年份排序</a>
								</div>
								<div class="col-4 px-1">
									<a class="nav-link rounded-pill" :class="{active: sortOrder == 2}" @click="sortOrder = 2">按评分排序</a>
								</div>
								<div class="col-4 px-1">
									<a class="nav-link rounded-pill" :class="{active: sortOrder == 3}" @click="sortOrder = 3">按更新排序</a>
								</div>
								<div class="w-100">
									<hr>
								</div>
								<div class="col-2 p-1" v-for="(item, index) in tags">
									<a class="btn btn-sm" :class="{active: sortOrder == 3}" @click="filterOrder = index">{{ item.tag }}</a>
								</div>
							</div>
						</div>
					</nav>
				</div>

				<!-- 下拉更新状态栏 -->
				<div id="topDivider">
					<div id="isReloading">
						<hr>&nbsp;&nbsp; 正在更新 <i class="fas fa-sync-alt"></i> &nbsp;&nbsp;<hr>
					</div>
					<div id="reloadSuccess">
						<hr>&nbsp;&nbsp; 更新成功 <i class="fas fa-check-circle"></i> &nbsp;&nbsp;<hr>
					</div>
					<div id="notModified">
						<hr>&nbsp;&nbsp; 没有更新 <i class="fas fa-minus-circle"></i> &nbsp;&nbsp;<hr>
					</div>
					<div id="reloadError">
						<hr>&nbsp;&nbsp; 更新失败 <i class="fas fa-exclamation-circle"></i> &nbsp;&nbsp;<hr>
					</div>
				</div>

				<!-- 标签页：电影列表 -->
				<div class="tab-content">
					<!-- 全览模式 -->
					<div class="tab-pane active" id="detailMode">
						<div class="my-3 p-3 detailCard" v-for="(item, index) in filterSort(films)" :key="item.id">
							<div class="row no-gutters">
								<div class="col-auto">
									<div class="filmPoster overflow-hidden">
										<img :src="item.posterUrl" width="100%" height="100%">
										<div class="filmScore" :style="{backgroundColor: scoreColor(item)}">
											<a :href="item.doubanUrl" target="_blank">{{ item.score }}</a>
										</div>
									</div>
								</div>
								<div class="col-8 pt-2 pl-2">
									<div class="filmInfo overflow-hidden">
										<h5>{{ item.translateName }}</h5><span> ({{ item.year }})</span>
										<h6>{{ item.officialName }}</h6>
										<br><br><br><br>
										<p>地区：{{ item.country }}</p>
										<p>类型：{{ item.type }}</p>
										<p>导演：{{ item.director }}</p>
										<p>主演：{{ item.star }}</p>
									</div>
								</div>
								<div class="w-100 my-1"></div>
								<div class="col-9">
									<div class="filmComment">
										<i class="fas fa-comment-dots mx-2"></i>{{ item.comment }}
									</div>
								</div>
								<div class="col-3 pl-2">
									<div class="addBtn">
										<a class="btn btn-outline-primary"><i class="fas fa-plus"></i> 想看</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 极简模式 -->
					<div class="tab-pane accordion my-3 overflow-hidden" id="miniMode">
						<div class="border" v-for="(item, index) in filterSort(films)" :key="item.id">
							<div class="p-2 miniToggler" :id="'miniToggler_' + index">
								<div class="filmScore" :style="{borderColor: scoreColor(item)}">
									<a :style="{color: scoreColor(item)}" :href="item.doubanUrl" target="_blank">{{ item.score }}</a>
								</div>
								<h5 class="mb-0">{{ item.translateName }} <small>({{ item.year }})</small></h5>
								<a class="btn btn-link collapsed float-right" data-toggle="collapse" :data-target="'#miniCollapse_' + index"><i class="fas fa-chevron-down"></i></a>
							</div>
							<div class="collapse p-2 miniCollapse" :id="'miniCollapse_' + index" :data-parent="'#miniToggler_' + index">
								<div class="row no-gutters">
									<div class="col-auto">
										<div class="filmPoster overflow-hidden">
											<img :src="item.posterUrl" width="100%" height="100%">
										</div>
									</div>
									<div class="col-8 pt-2 pl-2">
										<div class="filmInfo overflow-hidden">
											<h6>{{ item.officialName }}</h6>
											<br><br>
											<p>地区：{{ item.country }}</p>
											<p>类型：{{ item.type }}</p>
											<p>导演：{{ item.director }}</p>
											<p>主演：{{ item.star }}</p>
											<p><i class="fas fa-comment-dots mx-2"></i>{{ item.comment }}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 系列模式 -->
					<div class="tab-pane" id="seriesMode">
						<div class="card seriesCard" v-for="(item, index) in filterSort(films)" :key="item.id">
							<div class="card-header">
								<h5 class="mb-0">
									<button class="btn" data-toggle="collapse" type="button">{{ item.translateName }} <small>({{ item.year }})</small></button>
								</h5>
							</div>
						</div>
					</div>
				</div>

				<!-- 底部分割线 -->
				<div id="bottomDivider">
					<hr>&nbsp;&nbsp; 已到底部 <i class="far fa-check-circle"></i> &nbsp;&nbsp;<hr>
				</div>

				<!-- 快捷按钮 -->
				<div id="toTop"><i class="fas fa-chevron-up"></i></div>
				<div id="toBottom"><i class="fas fa-chevron-down"></i></div>

				<!-- 加载时显示画面 -->
				<div id="loadingBg">
					<div id="loadingInfo">
						<img src="loading.gif" width="50%">
						<br><br>
						<span>正在加载……</span>
					</div>
					<div id="errorInfo">
						<img src="error.png" width="50%">
						<br><br>
						<span>加载失败！</span>
						<br><br>
						<button class="btn btn-outline-primary" id="loadAgain" type="button"><i class="fas fa-redo-alt"></i> 重新加载</button>
					</div>
				</div>
			</div>

			<!-- 底部全局导航 -->
			<div id="footer">
				<ul class="nav nav-justified fixed-bottom border-top">
					<li class="nav-item">
						<a class="nav-link" :class="{active: pageOrder == 1}" id="toAll" @click="pageOrder = 1"><i class="fas fa-star"></i><br>全部</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" :class="{active: pageOrder == 2}" id="toToWatch" @click="pageOrder = 2"><i class="fas fa-play-circle"></i><br>待看</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" :class="{active: pageOrder == 3}" id="toWatched" @click="pageOrder = 3"><i class="fas fa-pen-square"></i><br>已看</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" :class="{active: pageOrder == 4}" id="settingToggler" href="#settingSidebar" @click="pageOrder = 4"><i class="fas fa-cog"></i><br>设置</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
	<script type="text/javascript" src="page1.js"></script>
</body>
</html>