/* $primary: #4f94cd; $secondary: #a9a9a9; $light: #e8e8e8; $dark: #363636; */
/*  全局样式  */
body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	padding-top: 6.1rem;
	color: #1c1c1c;
	background-color: #e8e8e8;
}

.navbar-toggler {
	color: #a9a9a9;
}
.navbar-toggler.active {
	color: #363636;
}
.navbar-toggler:focus,
.navbar-toggler:active:focus,
.navbar-toggler.active:focus,
.navbar-toggler.focus,
.navbar-toggler:active.focus,
.navbar-toggler.active.focus {
	box-shadow: none;
	outline: none;
}

.btn {
	width: 100%;
	color: #4f94cd;
	border-color: #4f94cd;
	border-radius: .3rem;
}
.btn.active {
	color: white;
	background-color: #4f94cd;
	border-color: #4f94cd;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	box-shadow: none;
	outline: none;
}

.form-control {
	height: 2.4rem;
	font-size: 1rem;
	line-height: 2.4;
}
.form-control:focus,
.form-control:active:focus,
.form-control.active:focus,
.form-control.focus,
.form-control:active.focus,
.form-control.active.focus {
	border-color: #4f94cd;
	outline: none;
	box-shadow: none;
}

.row {
	overflow-wrap: normal;
}

/*  局部样式  */
/* 导航栏1 */
.headNavbar .navbar:first-of-type {
	height: 3rem;
	color: white;
	background-color: #4f94cd;
}
/* 切换模式 */
#modeSwitch .nav-link {
	height: 1.5rem;
	padding-top: .35rem;
	padding-bottom: .35rem;
	font-size: .8rem;
	line-height: 1;
	color: #a9a9a9;
	border: .08rem solid #a9a9a9;
}
#modeSwitch .active {
	color: white;
	border-color: white;
	background-color: transparent;
}

/* 导航栏2 */
.headNavbar .navbar:last-of-type {
	position: fixed;
	top: 3rem;
	right: 0;
	z-index: 29;
	width: 100%;
	background-color: white;
}
/* 折叠面板 */
.screenInfo {
	font-size: 1rem;
	color: #4f94cd;
}
.screenInfo .navbar-toggler {
	color: #4f94cd;
}
.screenInfo .active {
	color: #363636;
}
#screenCollapse .btn {
	color: #4f94cd;
}
#screenCollapse .btn-sm {
	font-size: .9rem;
}
#screenCollapse .active {
	color: white;
}
#screenCollapse span {
	display: inline-block;
	transform: rotate(90deg);
}
.fa-caret-left {
	margin-right: .06rem;
}
.fa-caret-right {
	margin-left: .06rem;
}
#screenCollapse .active .reverse {
	color: #a9a9a9;
}
#screenCollapse .moreTags {
	color: #a9a9a9;
	background-color: #e8e8e8;
	border-color: #e8e8e8;
}
#screenCollapse .navbar-toggler {
	font-size: 1rem;
}

/* 搜索框 */
.searchForm {
	position: absolute;
	top: 0;
	right: 0;
	width: 82%;
}
.searchForm .form-control {
	position: absolute;
	top: .2375rem;
	right: 1rem;
	width: 100%;
}
.searchForm .navbar-toggler {
	position: absolute;
	top: .5rem;
	right: 1rem;
}
/* 动画：展开收起 */
.stretch-enter,
.stretch-leave-to {
	width: 15%;
	opacity: 0;
}
.stretch-enter-active,
.stretch-leave-active {
	transition: all .1s linear;
}

/* 下拉更新状态栏 */
#topDivider {
	width: 100%;
	height: 3.4rem;
	font-size: 1rem;
	line-height: 3.4;
	color: #cfcfcf;
	text-align: center;
}
#topDivider hr {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
}
/* 动画：下拉收起 */
.pull-enter,
.pull-leave-to {
	transform: translateY(-3.4rem);
}
.pull-enter-active,
.pull-leave-active {
	transition: all .3s linear;
}
/* 动画：图标旋转 */
.fa-sync-alt {
	animation: rotating 1s linear infinite;
}
@keyframes rotating {
	100% {
		transform: rotate(360deg);
	}
}

/* 全览模式 */
.detailCard {
	background-color: white;
}
/* 海报 */
.detailCard .filmPoster {
	position: relative;
	width: 5.9rem;
	height: 8.8rem;
	border-radius: .3rem;
}
.detailCard .filmScore {
	position: absolute;
	top: 0;
	right: 0;
	width: 2.3rem;
	height: 1.3rem;
	text-align: center;
	border-radius: 0 .3rem;
}
.detailCard .filmScore a {
	font-size: 1rem;
	line-height: 1.4;
	color: white;
	text-decoration: none;
}
/* 信息 */
.filmInfo {
	padding-top: .1rem;
	line-height: 1.4;
	color: #9c9c9c;
}
.filmInfo h5 {
	margin: 0;
	font-weight: bold;
	color: #363636;
	white-space: nowrap;
}
.filmInfo h6 {
	margin: 0;
	font-weight: bold;
}
.filmInfo p {
	margin: 0;
	font-size: .9rem;
}
.filmInfo .d-flex h6:last-of-type,
.filmInfo .d-flex p:last-of-type {
	width: 80%;
	white-space: nowrap;
	overflow-x: auto;
}
/* 评语 */
.filmComment {
	height: 2.4rem;
	font-size: 1rem;
	line-height: 2.4;
	background-color: #f5f5f5;
	border-radius: .3rem;
}
.filmComment i {
	color: #9c9c9c;
}
.filmComment p {
	height: 100%;
	color: #363636;
	white-space: nowrap;
	overflow-x: auto;
}

/* 极简模式 */
#miniMode {
	border-radius: 1rem;
}
.miniToggler {
	height: 2.4rem;
	white-space: nowrap;
	background-color: white;
}
.miniToggler .filmScore {
	display: inline-block;
	width: 2.5rem;
	height: 1.25rem;
	text-align: center;
	border: .083rem solid;
	border-radius: .2rem;
}
.miniToggler .filmScore a {
	font-size: 1rem;
	line-height: 1.4;
	color: white;
	text-decoration: none;
}
.miniToggler h5 {
	display: inline-block;
	color: #363636;
	text-overflow: clip;
}
.miniToggler small {
	color: #9c9c9c;
}
.miniToggler .btn {
	width: 5rem;
	height: 2.4rem;
	line-height: 2.4;
	color: #4f94cd;
}
.miniCollapse {
	background-color: white;
}
.miniCollapse .filmPoster {
	width: 5.9rem;
	height: 8.8rem;
	border-radius: .3rem;
}

/* 底部分割线 */
#bottomDivider {
	width: 100%;
	height: 3.4rem;
	margin-bottom: 3.8rem;
	font-size: 1rem;
	line-height: 3.4;
	color: #cfcfcf;
	text-align: center;
}
#bottomDivider hr {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
}

/* 快捷按钮 */
#toTop,
#toBottom {
	position: fixed;
	right: .5rem;
	bottom: 4.3rem;
	z-index: 9;
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1rem;
	line-height: 2.5;
	color: white;
	text-align: center;
	background-color: #363636;
	border-radius: 50%;
	opacity: .5;
}
#toTop {
	position: fixed;
	right: .5rem;
	bottom: 7.3rem;
}

/* 加载时显示画面 */
#loadingBg {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
	width: 100vw;
	height: calc(100vh - 4rem);
	background-color: white;
}
#loadingInfo,
#errorInfo {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 30%;
	height: 30%;
	margin: auto;
	font-size: 1rem;
	text-align: center;
}
#errorInfo {
	display: none;
}

/* 底部导航 */
#footer ul {
	height: 3.8rem;
	background-color: white;
}
#footer .nav-link {
	padding-top: .6rem;
	font-size: .8rem;
	color: #a9a9a9;	
}
#footer .nav-link i {
	font-size: 1.5rem;
}
#footer .active {
	color: #4f94cd;
}